.Hero
{
    display: flex;
    justify-content: center;

    &-container
    {
        display: grid;
        padding: 32px 16px;

        @screen lg
        {
            grid-template-columns: 1fr 1fr;
            padding-top: 64px;
            padding-bottom: 64px;
            grid-gap: 64px;
        }
    }


    &-content
    {
        @screen lg
        {
            padding-left: 150px;
            padding-left: 32px;
            padding-top: 32px;
        }
    }

    &-title
    {
        font-weight: theme(font_weights.bold);
        font-size: 20px;
        line-height: 28px;
        padding-bottom: 4px;

        @screen md
        {
            font-size: 24px;
            line-height: 30px;
        }
    }

    &-geo
    {
        font-weight: theme(font_weights.bold);
        font-size: 28px;
        line-height: 32px;
        padding-bottom: 16px;

        @screen md
        {
            font-size: 48px;
            line-height: 64px;
        }
    }

    &-hours
    {
        padding-bottom: 16px;
    }

    &-reviews
    {
        padding-bottom: 24px;
    }

    &-rating
    {
        font-weight: theme(font_weights.bold);
    }

    &-linkWrapper
    {
        display: block;
        gap: 16px;

        @screen lg
        {
            display: flex;
        }
    }

    &-cta
    {
        background-color: theme(colors.main-blue);
        line-height: 24px;
        font-size: 16px;
        border-radius: 50px;
        display: flex;
        padding: 8px 24px;
        justify-content: center;
        color: theme(colors.white);
        font-weight: theme(font_weights.bold);
        margin-bottom: 16px;

        &--border
        {
            background-color: theme(colors.white);
            border: 2px solid theme(colors.main-blue);
            color: theme(colors.main-blue);
        }

        @screen lg
        {
            margin-bottom: 0;
        }

    }

    &-imageWrapper
    {
        padding-top: 8px;

        @screen lg
        {
            padding-top: 0;
        }
    }

    &-image
    {
        @screen lg
        {
            width: 554px;
        }
    }
    .HoursStatus-dayOfWeek
    {
        display: none;
    }

    .HoursStatus-current
    {
        font-weight: theme(font_weights.bold);
    }
}
