.Hero
{
    &-container
    {
        display: grid;
        padding: theme(spacing.8) theme(spacing.4);

        @screen lg
        {
            grid-template-columns: 1fr 1fr;
            padding-top: theme(spacing.16);
            padding-bottom: theme(spacing.16);
            grid-gap: theme(spacing.16);
        }
    }


    &-content
    {
        @screen lg
        {
            padding-left: theme(spacing.8);
            padding-top: theme(spacing.8);
        }
    }

    &-title
    {
        font-weight: theme(fontWeight.bold);
        font-size: 22px;
        line-height: 28px;
        padding-bottom: theme(spacing.1);

        @screen md
        {
            font-size: theme(fontSize.2xl);
        }
    }

    &-geo
    {
        font-weight: theme(fontWeight.bold);
        font-size: 28px;
        line-height: 32px;
        padding-bottom: theme(spacing.4);

        @screen md
        {
            font-size: theme(fontSize.5xl);
            line-height: 64px;
        }
    }

    &-hours
    {
        padding-bottom: theme(spacing.4);
    }

    &-reviews
    {
        padding-bottom: theme(spacing.6);
    }

    &-rating
    {
        font-weight: theme(fontWeight.bold);
    }

    &-linkWrapper
    {
        gap: theme(spacing.4);

        @screen lg
        {
            display: flex;
        }
    }

    &-cta
    {
        background-color: theme(colors.brand-primary);
        font-size: theme(fontSize.base);
        border-radius: 50px;
        display: flex;
        padding: 8px 24px;
        justify-content: center;
        color: theme(colors.white);
        font-weight: theme(fontWeight.bold);
        margin-bottom: 16px;

        &--border
        {
            background-color: theme(colors.white);
            border: 2px solid theme(colors.brand-primary);
            color: theme(colors.brand-primary);
        }

        @screen lg
        {
            margin-bottom: 0;
        }

    }

    &-imageWrapper
    {
        padding-top: theme(spacing.2);

        @screen lg
        {
            padding-top: 0;
        }
    }

    &-image
    {
        @screen lg
        {
            width: 554px;
        }
    }
}
