@define-mixin Button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: theme(spacing.2) theme(spacing.6);
	font-weight: theme(fontWeight.bold);
	border-radius: theme(buttons.borderRadius);
}

@define-mixin button-variant-helper $variant {
	background-color: theme(buttons.$variant.background);
	color: theme(buttons.$variant.color);
	border: theme(buttons.$variant.border);

	&:hover {
		background-color: theme(buttons.$variant.hoverBackground);
		color: theme(buttons.$variant.hoverColor);
		border: theme(buttons.$variant.hoverBorder);
	}
}

@define-mixin Button--primary {
	@mixin button-variant-helper primary;
}

@define-mixin Button--secondary {
	@mixin button-variant-helper secondary;
}

.Button {
	@mixin Button;
}

.Button--primary {
	@mixin Button--primary;
}

.Button--secondary {
	@mixin Button--secondary;
}