.FeaturedProduct
{
  background-color: theme(colors.brand-gray.100);

  &-card
  {
    background-color: white;
    text-align: left;
    display: grid;
    margin-left: theme("spacing.6");
    margin-right: theme("spacing.6");
  }

  &-content
  {
    display: grid;
    grid-template-columns: 1fr;

    @screen sm
    {
      grid-template-columns: repeat(2, 1fr);
    }

    @screen lg
    {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &-image
  {
    height: 187px;
  }

  &-title
  {
    font-family: theme(fontFamily.primary);
    font-weight: theme(fontWeight.bold);
    font-size: theme(fontSize.lg);
  }
}
