.FeaturedProduct
{
  background-color: theme(colors.brand-gray.100);

  &-container
  {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &-card
  {
    background-color: white;
    flex-direction: column;
    text-align: left;
    display: grid;
    margin-left: theme("spacing.6");
    margin-right: theme("spacing.6");
  }

  &-content
  {
    flex-direction: column;
    @screen sm
    {
      flex-direction: row;
    }
  }

  &-image
  {
    height: 187px;
  }

  &-imageWrapper
  {
    justify-content: center;
  }

  &-title
  {
    font-family: theme(fontFamily.primary);
    font-weight: theme(fontWeight.bold);
    font-size: theme(fontSize.lg);
  }
}
