@font-face {
  font-family: "Connections";
  src: url("/src/assets/fonts/Connections_Light.otf") format("truetype");
  font-weight: theme("fontWeight.light");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Connections";
  src: url("/src/assets/fonts/Connections_Regular.otf") format("truetype");
  font-weight: theme("fontWeight.normal");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Connections";
  src: url("/src/assets/fonts/Connections_Bold.otf") format("truetype");
  font-weight: theme("fontWeight.bold");
  font-style: normal;
  font-display: swap;
}
