@tailwind base;
@tailwind components;
@tailwind utilities;

@screen md {
  .Footer
  {
    height: 92px;
    background-color: antiquewhite;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@screen sm {
  .Footer
  {
    height: 92px;
    background-color: green;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.Footer
{
  height: 92px;
  background-color: green;
  padding-top: 16px;
  padding-bottom: 16px;
}

.Footer-SocialContainer
{
  display: flex;
}

.Footer-SocialLink
{
  color: blue;
  margin-right: 24px;
}
