.Footer
{
  width: 100%;

  @screen md
  {
    padding-top: theme(spacing.3);
    padding-bottom: theme(spacing.3);
    display: flex;
    flex-wrap: wrap;
  }

  &-linksContainer
  {
    align-items: center;
    margin-right: auto;
    height: fit-content;
  
    @screen md
    {
      flex-direction: row;
      width: 75%;
    }
  }

  &-link 
  {
    margin-bottom: theme(spacing.4);
  
    @screen md 
    {
      margin-right: theme(spacing.5);
    }
  }

  &-socialContainer
  {
    justify-content: center;
    margin-bottom: theme(spacing.4);
    height: fit-content;
  
    @screen md
    {
      flex-direction: row;
      width: 25%;
      justify-content: flex-end;
      margin-bottom: auto;
    }
  }

  &-socialLink
  {
    &:not(:last-child)
    {
      margin-right: theme(spacing.4);
    }

    svg
    {
      width: theme(spacing.5);
      height: theme(spacing.5);
    }
  }

  &-copyright
  {
    font-style: normal;
    font-size: theme(fontSize.sm);
    text-align: center;
  }
}

