@tailwind base;
@tailwind components;
@tailwind utilities;

.Footer
{
  background-color: aquamarine;
  padding-top: theme(spacing.5);
  padding-bottom: theme(spacing.5);
  padding-left: theme(spacing.3);
  padding-right: theme(spacing.3);
  width: 100%;

  @screen md
  {
    min-height: 92px;
    padding-top: theme(spacing.3);
    padding-bottom: theme(spacing.3);
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    flex-wrap: wrap;
  }
}

.Footer-linksContainer
{
  align-items: center;
  margin-right: auto;
  height: fit-content;

  @screen md
  {
    flex-direction: row;
    width: 75%;
  }
}

.Footer-link
{
  margin-bottom: theme(spacing.4);
  font-family: theme(fontFamily.sans[7]);
  font-style: normal;
  font-size: theme(fontSize.sm);
  font-weight: theme(fontWeight.normal);
  line-height: 20px;
  color: #1B78D0;

  @screen md 
  {
    margin-right: theme(spacing.5);
  }
}

.Footer-socialContainer
{
  justify-content: center;
  margin-bottom: theme(spacing.4);
  height: fit-content;

  @screen md
  {
    flex-direction: row;
    width: 25%;
    justify-content: flex-end;
    margin-bottom: auto;
  }
}

.Footer-socialLink:not(:last-child)
{
  margin-right: theme(spacing.4);
}

.Footer-socialLink svg 
{
  width: theme(spacing.5);
  height: theme(spacing.5);
}

.Footer-copyright
{
  font-family: theme(fontFamily.sans[7]);
  font-style: normal;
  font-size: theme(fontSize.sm);
  font-weight: theme(fontWeight.normal);
  text-align: center;
}
