.Reviews
{
  &-container
  {
    padding-left: 16px;
    padding-right: 16px;
  }

  &-titleAndRating
  {
    margin-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #cccccc;
    text-align: center;
    
  }

  &-title
  {
    margin-bottom: 12px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    @screen lg
    {
      font-size: 34px;
      line-height: 40px;
    }
  }

  &-review
  {
    padding-top: 24px;
    border-bottom: 1px solid #cccccc;
    display: flex;
    flex-direction: column;
    
    @screen lg 
    {
      flex-direction: row;
    }
  }

  &-reviewerName
  {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 8px;

    &AndDate
    {
      @screen lg 
      {
        width: 50%;
      }
    }
  }

  &-reviewDate
  {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }

  &-rating
  {
    margin-bottom: 8px;
  }

  &-reviewText
  {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
  }

/*   &-businessResponse
  {
    display: none;
  } */

  &-businessName
  {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 8px;
  }

  &-responseDate
  {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;

    @screen lg 
    {
      margin-bottom: 8px;
    }
  }

  &-responseText
  {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
  }

}