.Reviews
{
  &-titleAndRating
  {
    border-bottom: 1px solid #cccccc;    
  }

  &-overallRatingNumber,
  &-ratingNumber,
  &-overallRatingCount,
  &-title,
  &-reviewerName,
  &-reviewDate,
  &-reviewText,
  &-businessName,
  &-responseDate,
  &-responseText,
  &-pageNumberLink,
  &-break
  {
    font-family: 'Arial';
  }

  &-overallStar,
  &-ratingStar
  {
    color: #1B78D0;

    &Filled
    {
      color: #073866;
    }

    &Half
    {
      color: #1B78D0;
    }
  }

  &-title
  {
    @screen lg
    {
      font-size: 34px;
      line-height: 40px;
    }
  }

  &-review
  {
    &:not(:last-child){
      border-bottom: 1px solid #cccccc;
    }
  }

  &-activePageNumber
  {
    background-color: #F7F7F7;
  }

  &-activePageNumberLink
  {
    color: #1B78D0;
  }

  &-pageNumberLink,
  &-breakLink
  {
    pointer-events: none;
  }

  &-previousButtonLink
  {
    content: url("src/assets/previous-arrow.svg");

    &:hover
    {
      content: url("src/assets/previous-arrow-blue.svg");
    }
  }

  &-nextButtonLink
  {
    content: url("src/assets/next-arrow.svg");

    &:hover
    {
      content: url("src/assets/next-arrow-blue.svg");
    }
  }
}