.TeamCard
{
  &-header
  {
    display: flex;
    align-items: center;
    min-height: 128px;

    @screen lg
    {
      min-height: 144px;
    }
  }

  &-headshot
  {
    border-radius: theme(borderRadius.full);
    width: 80px;
  }

  &-phoneDisplay,
  &-phoneLink
  {
    display: flex;
    align-items: center;

    &::before
    {
      content: '';
      background-image: url(src/assets/images/phone.svg);
      background-repeat: no-repeat;
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: theme(spacing.4);
    }
  }

  &-phoneDisplay
  {
    display: none;
    
    @screen lg
    {
      display: flex;
    }
  }

  &-phoneLink
  {
    display: flex;
    font-weight: theme(fontWeight.bold);

    @screen lg
    {
      display: none;
    }
  }

  &-email
  {
    display: flex;
    align-items: center;
    font-weight: theme(fontWeight.bold);

    &::before
    {
      content: '';
      background-image: url(src/assets/images/mail.svg);
      background-repeat: no-repeat;
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: theme(spacing.4);
      margin-top: theme(spacing.1);
    }
  }

  &-link
  {
    font-weight: theme(fontWeight.bold);
    display: flex;
    align-items: center;

    &::after
    {
      content: '';
      background-image: url(src/assets/images/arrow.svg);
      background-repeat: no-repeat;
      display: inline-block;
      width: 7px;
      height: 12px;
      margin-left: theme(spacing[2.5]);
    }
  }

}