.Testimonials
{
  &-title,
  &-reviewText,
  &-qnaQuestion,
  &-qnaAnswer,
  &-reviewerName,
  &-reviewDate,
  &-verifiedClient
  {
    font-family: 'Arial';
  }

  &-title
  {
    @screen lg
    {
      font-size: 34px;
      line-height: 40px;
    }
  }

  &-reviewText
  {
    border-bottom: 1px solid #cccccc;
  }

  &-reviewContainer
  {
    background-color: white;
    border-top: 1px solid #1b78d0;
    border-left: 1px solid #1b78d0;
    border-right: 1px solid #1b78d0;
    border-top-left-radius: theme(spacing.2);
    border-top-right-radius: theme(spacing.2);

    @screen lg
    {
      border-right: none;
      border-bottom: 1px solid #1b78d0;
      border-top-left-radius: theme(spacing.2);
      border-bottom-left-radius: theme(spacing.2);
      border-top-right-radius: 0;
    }
  }

  &-qna
  {
    @screen lg 
    {
      width: 50%;
    }
    
    &:not(:last-child) 
    {
      margin-bottom: theme(spacing.4);

      @screen lg
      {
        margin-bottom: theme(spacing.2);
      }
    }
  }

  &-reviewerContainer
  {
    background-color: #1b78d0;
    color: white;
    border-left: 1px solid #1b78d0;
    border-right: 1px solid #1b78d0;
    border-bottom: 1px solid #1b78d0;
    border-bottom-left-radius: theme(spacing.2);
    border-bottom-right-radius: theme(spacing.2);

    @screen lg
    {
      width: 50%;
      border-top: 1px solid #1b78d0;
      border-left: none;
      border-right: 1px solid #1b78d0;
      border-bottom: 1px solid #1b78d0;
      border-top-right-radius: theme(spacing.2);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: theme(spacing.2);
    }
  }

  &-reviewerName
  {
    font-size: 22px;
    line-height: 28px;

    @screen lg
    {
      font-size: 24px;
      line-height: 30px;
    }
  }

  &-verifiedClient
  {
    &::before
    {
      content: url("src/assets/check-circle.svg");
      margin-right: 5px;
      height: 14px;
      width: 14px;
    }
  }
}