html {
  --yxt-hoursTable-col2-width: auto;
  --header-height-mobile: 184px;
}

.address-line abbr:where([title]) {
  text-decoration: none;
}

.HoursStatus-current {
  font-weight: theme("fontWeight.bold");
}

.HoursTable {
  &-row {
    margin-bottom: 4px;
  }

  &-row.is-today {
    font-weight: theme(fontWeight.bold);
  }
}
