.Header {
    &-logo {
        margin-right: theme("spacing.1");
        width: 140px;
    }

    &-link {
        font-weight: theme("fontWeight.bold");
        margin-left: theme("spacing.6");
        margin-right: theme("spacing.6");
    }
}