.Locator {
  position: relative;
  display: flex;
  flex: 1;
  overflow: auto;
  padding-bottom: 1px;
  box-shadow: theme(boxShadow.brand-shadow);

  &-content {
    width: 100%;
    overflow-y: auto;

    @screen sm {
      flex-basis: 350px;
    }

    @screen md {
      flex-basis: 450px;
    }
  }

  &-map {
    flex: 1;
    height: 100%;
  }
}

