@import "src/styles/variables.css";
@import "src/styles/Button.css";
@import "src/styles/Heading.css";
@import "src/styles/Link.css";
@import "src/styles/utils.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.section {
  @apply mt-8 mb-16;
}

.primary-cta {
  @apply bg-sky-500 hover:bg-sky-600;
}

.secondary-cta {
  @apply bg-sky-700 hover:bg-sky-800;
}

.Main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    'header'
    'main';
  height: 100vh;
}

.Main-header {
  grid-area: header;
}

.Main-content {
  grid-area: main;
  overflow: auto;
}
